
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "AllStaff";
}

<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--Top header start-->
                <h3 class="ls-top-header">Main Office Staff</h3>
                <!--Top header end -->
                <!--Top breadcrumb start -->
                <!--Top breadcrumb start -->
            </div>
        </div>
        <!-- Main Content Element  Start-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">Staff Table<a href="/Staff/StaffDetail/0" style="float:right;color:cornflowerblue;">+ Add Staff</a> </h3>
                    </div>

                    <div class="panel-body">
                        <!--Table Wrapper Start-->
                        <div class="table-responsive ls-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Department</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 1; i <= Model.Rows.Count; i++)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@Model.Rows[i-1]["Name"]</td>
                                            <td>@Model.Rows[i-1]["Mobile"]</td>
                                            <td>@Model.Rows[i-1]["Dept"]</td>
                                            <td><a href="/Staff/StaffDetail/@Model.Rows[i-1]["StaffID"]">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!--Table Wrapper Finish-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

